@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
/*---------------------- General Setup -------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #fff;
  --color-bg-variant: #F5F8FD;
  --color-primary: #18D26E;
  --color-primary-variant: #0d4a29;
  --color-dark: #04140a;
  --color-dark-variation: rgba(4, 20, 10, 0.7);
  --color-light: #fff;
  --color-light-variation: rgba(209, 210, 209, 0.7);

  --transition-primary: all 500ms ease;
  --transition-primary-secondary: all 1 ease;

  --container-width-xxl: 60%;
  --container-width-large: 75%;
  --container-width-medium: 85%;
  --container-width-small: 90%;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--color-bg);
  color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}
main {
  margin-left: 100px;
}
.container {
  width: var(--container-width-large);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h2::after {
  content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 5rem;
    background-color: var(--color-primary);
}
h3 {
  font-weight: 600;
}
h3,
h4,
p {
  font-size: 1rem;
}
a {
  color: var(--color-primary);
  transition: var(--transition-primary);
}
a:hover {
  color: var(--color-dark-variation);
}
.icon-link {
  color: var(--color-dark);
  transition: var(--transition-primary);
}
.icon-link:hover {
  color: var(--color-primary-variant);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: var(--transition-primary);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.staggered:nth-child(2) {
  transition-delay: 200ms;
}
.staggered:nth-child(3) {
  transition-delay: 400ms;
}
.staggered:nth-child(4) {
  transition-delay: 600ms;
}
.staggered:nth-child(5) {
  transition-delay: 800ms;
}
.staggered:nth-child(6) {
  transition-delay: 1000ms;
}
/*---------------------- Header Section -------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 300px;
  padding: 0 15px;
  background: var(--color-dark);
  z-index: 2;
  transition: var(--transition-primary);
}
#header .profile-img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 0.4rem solid var(--color-light-variation);
  border-radius: 50%;
}
/*---------------------- Navigation Section ---------------------*/
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--color-light-variation);
  padding: 0.6rem 0.8rem;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 0.5rem;
  color: var(--color-light-variation);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: var(--color-light);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: var(--color-primary);
}

/*---------------------- Hero Section --------------------------*/

/*---------------------- About Section --------------------------*/
.about {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.about-details {
  display: flex;
}
.profile-pic {
  max-width: 25rem;
  height: auto;
}
.about-details>article {
  margin-left: 1rem;
}
.about-details>article>* {
  margin-bottom: 1rem;
}
.about-details>article>aside {
  display: flex;
  justify-content: flex-start;
}
.about-details>article>aside>* {
  width: 50%;
}
.about-details>article>aside>ul {
  margin: 1.5rem 0;
}
.about-details ul>li:before {
  content: '> ';
  color: var(--color-primary)
}
.about,
.facts,
.skills{
  margin-top: 3rem;
}
.about>p,
.facts>p,
.skills>p {
  margin: 1rem 0;
}
.facts>aside {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.facts>aside>figure {
  max-width: 20%;
}
.facts>aside>figure>i {
  font-size: 2.5rem;
  padding-top: 1rem;
  align-self: center;
}
.facts>aside>figure>p {
  display: inline-block;
}
.facts>aside>figure>figcaption>p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.skills>div>ul {
  display: flex;
  flex-wrap: wrap;
}
.skills>div>ul>* {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.skills>div>ul>li>i {
  font-size: 1.5rem;
}
/*---------------------- Experience Section ---------------------*/
.experience {
  margin-top: 3rem;
}
.experience>p {
  margin: 1rem 0;
}
.resume {
  display: flex;
}
.resume>* {
  max-width: 50%;
}
.resume h3 {
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.resume h4 {
  font-weight: bold;
}
.resume-card h4:before {
  content: "";
  position: absolute;
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
  left: -0.79rem;
  top: 0rem;
  background-color: var(--color-primary);
}
.resume-card {
  padding: 0rem 0 2rem 1.2rem;
  margin-top: -2px;
  border-left: 3px solid var(--color-primary);
  position: relative;
  top: 0.2rem;
}
.resume-card>* {
  padding: 0.25rem;
}
.resume-card>.years {
  background-color: var(--color-light-variation);
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
.resume-card>ul>li {
  list-style: disc;
}
/*---------------------- Services Section -----------------------*/

/*---------------------- Portfolio Section ----------------------*/
#portfolio {
  background-color: rgba(244, 244, 255, 0.938);
  padding: 2% 0;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3% 0;
  gap: 3%;
}

.portfolio-item {
  transition: var(--transition-primary);
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  overflow: hidden;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  transition: all 1s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.portfolio-item-image {
  padding-top: 75%;
  position: relative;
}

.portfolio-item-image img {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-item-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.portfolio-item-hover::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 45px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 1s ease-in-out;
  z-index: 5000;
}

.portfolio-item-hover::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 45px;
  right: 45px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 1s ease-in-out;
  z-index: 5000;
}

.portfolio-item:hover::before {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-item:hover .portfolio-item-hover {
  opacity: 1;
  z-index: 3;
}

.portfolio-item:hover .portfolio-item-hover::before {
  top: 15px;
  left: 15px;
}

.portfolio-item:hover .portfolio-item-hover::after{
  bottom: 15px;
  right: 15px;
}

.portfolio-item-description {
  display: none;
}

.portfolio-item h3 {
  margin: 1.2rem 0 1rem;
  color: var(--color-dark);
}

.portfolio-item p {
  margin: 1.2rem 0 2rem;
  color: var(--color-light);
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*---------------------- Testimonials Section -------------------*/

/*---------------------- Contact Section ------------------------*/

/*---------------------- Footer Section -------------------------*/

/*---------------------- Media Queries --------------------------*/
/*=== Media Queries (Animations) ===*/
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/*=== Media Queries (Medium Devices) ===*/
@media screen and (max-width: 1024px) {
  main {
    margin-left: 0;
  }
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    #header {
      display: none;
    }

    .about-details {
      flex-direction: column;
    }
    .profile-pic{
      max-width: 100%;
      align-self: center;
    }
    .about-details>article {
      margin-left: 0;
    }
    .about-details>article>h3 {
      margin-top: 1rem;
    }
    .facts>aside>figure {
      max-width: 40%;
    }
}
/*=== Media Queries (Small Devices) ===*/
@media screen and (max-width: 660px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about-details>article>aside {
      display: flex;
      flex-direction: column;
    }
    .about-details>article>aside>ul {
      width: 100%;
    }
    .resume {
      flex-direction: column;
    }
    .resume>* {
      max-width: 100%;
    }
  }
