@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #fff;
  --color-bg-variant: #0891b2;
  --color-primary: rgb(8, 145, 178);
  --color-primary-variant: #6dc7de;
  --color-dark: #000;
  --color-dark-variation: rgba(0, 0, 0, 0.7);
  --color-light: #fff;
  --color-light-variation: rgba(255, 255, 255, 0.7);

  --transition-primary: all 500ms ease;
  --transition-primary-secondary: all 1 ease;

  --container-width-xxl: 60%;
  --container-width-large: 75%;
  --container-width-medium: 85%;
  --container-width-small: 90%;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}
.container {
  width: var(--container-width-large);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
section {
  margin-top: 8rem;
}
a {
  color: var(--color-primary);
  transition: var(--transition-primary);
}
a:hover {
  color: var(--color-dark-variation);
}
.icon-link {
  color: var(--color-dark);
  transition: var(--transition-primary);
}
.icon-link:hover {
  color: var(--color-primary-variant);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: var(--transition-primary);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.staggered:nth-child(2) {
  transition-delay: 200ms;
}
.staggered:nth-child(3) {
  transition-delay: 400ms;
}
.staggered:nth-child(4) {
  transition-delay: 600ms;
}
.staggered:nth-child(5) {
  transition-delay: 800ms;
}
.staggered:nth-child(6) {
  transition-delay: 1000ms;
}
/*---------------------- Header Section -------------------------*/

/*---------------------- Nav Section ----------------------------*/
nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-dark);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}
/*---------------------- About Section --------------------------*/

/*---------------------- Experience Section ---------------------*/

/*---------------------- Services Section -----------------------*/

/*---------------------- Portfolio Section ----------------------*/

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio-item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition-primary);
}
.portfolio-item:hover {
  border-color: var(--color-primary-variant);
}
.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio-item h3 {
  margin: 1.2rem 0 1rem;
  color: var(--color-bg);
}
.portfolio-item p {
  margin: 1.2rem 0 2rem;
  color: var(--color-bg);
}
.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
/*---------------------- Testimonials Section -------------------*/

/*---------------------- Contact Section ------------------------*/

/*---------------------- Media Queries --------------------------*/
/*=== Media Queries (Animations) ===*/
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/*=== Media Queries (Medium Devices) ===*/
@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/*=== Media Queries (Small Devices) ===*/
@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
