@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
/*---------------------- General Setup -------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #fdfdff;
  --color-bg-variant: #F5F8FD;
  --color-primary: #18D26E;
  --color-primary-variant: #0d4a29;
  --color-dark: #041410;
  --color-dark-variation: #213129;
  --color-light: #fff;
  --color-light-variation: #A8A9B4;

  --transition-primary: all 500ms ease;
  --transition-primary-secondary: all 1 ease;

  --container-width-xxl: 60%;
  --container-width-large: 75%;
  --container-width-medium: 85%;
  --container-width-small: 90%;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--color-bg);
  color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}
main {
  margin-left: 150px;
}
.container {
  width: var(--container-width-large);
  margin: 0 auto;
}
main > section:nth-child(even){
  background-color: var(--color-bg-variant);
}
main > section {
  padding: calc(1vw + 0.3rem) 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h2::after {
  content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 5rem;
    background-color: var(--color-primary);
}
h3 {
  font-weight: 600;
}
h3,
h4,
p {
  font-size:  calc(0.6vw + 0.5rem);
}
a {
  color: var(--color-primary);
  transition: var(--transition-primary);
}
a:hover {
  color: var(--color-dark-variation);
}
.icon-link {
  color: var(--color-dark);
  transition: var(--transition-primary);
}
.icon-link:hover {
  color: var(--color-primary);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: var(--transition-primary);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.staggered:nth-child(2) {
  transition-delay: 200ms;
}
.staggered:nth-child(3) {
  transition-delay: 400ms;
}
.staggered:nth-child(4) {
  transition-delay: 600ms;
}
.staggered:nth-child(5) {
  transition-delay: 800ms;
}
.staggered:nth-child(6) {
  transition-delay: 1000ms;
}
/*---------------------- Header Section -------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
  background: var(--color-dark);
  z-index: 2;
  transition: var(--transition-primary);
}
#header .profile-img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 0.4rem solid var(--color-dark-variation);
  border-radius: 50%;
}
#header .profile h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}
#header .profile h3 a {
  color: var(--color-light);
}
#header .profile h3 a:hover {
  color: var(--color-primary);
}
#header .profile .social-links a {
  background: var(--color-dark-variation);
  color: var(--color-light);
  transition: var(--transition-primary);
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 8px 0;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  line-height: 1;
}
#header .profile .social-links a:hover {
  background: var(--color-primary);
}
/*---------------------- Navigation Section ---------------------*/
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--color-light-variation);
  padding: 0.6rem 0.8rem;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 0.5rem;
  color: var(--color-light-variation);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: var(--color-light);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: var(--color-primary);
}

/*---------------------- Hero Section --------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url(../assets/images/hero-bg.jpg) top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*---------------------- About Section --------------------------*/
.about {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.about-details {
  display: flex;
}
.profile-pic {
  max-width: 25rem;
  height: auto;
}
.about-details>article {
  margin-left: 1rem;
}
.about-details>article>* {
  margin-bottom: 1rem;
}
.about-details>article>aside {
  display: flex;
  justify-content: flex-start;
}
.about-details>article>aside>* {
  width: 50%;
}
.about-details>article>aside>ul {
  margin: 1.5rem 0;
}
.about-details ul>li:before {
  content: '> ';
  color: var(--color-primary)
}
.about,
.facts,
.skills{
  margin-top: 3rem;
}
.about>p,
.facts>p,
.skills>p {
  margin: 1rem 0;
}
.facts>aside {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.facts>aside>figure {
  max-width: 20%;
}
.facts>aside>figure>i {
  font-size: 2.5rem;
  padding-top: 1rem;
  align-self: center;
}
.facts>aside>figure>p {
  display: inline-block;
}
.facts>aside>figure>figcaption>p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.skills>div>ul {
  display: flex;
  flex-wrap: wrap;
}
.skills>div>ul>* {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.skills>div>ul>li>i {
  font-size: 1.5rem;
}
/*---------------------- Experience Section ---------------------*/
.experience {
  margin-top: 3rem;
}
.experience>p {
  margin: 1rem 0;
}
.resume {
  display: flex;
}
.resume>* {
  max-width: 50%;
}
.resume h3 {
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.resume h4 {
  font-weight: bold;
}
.resume-card h4:before {
  content: "";
  position: absolute;
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
  left: -0.79rem;
  top: 0rem;
  background-color: var(--color-primary);
}
.resume-card {
  padding: 0rem 0 2rem 1.2rem;
  margin-top: -2px;
  border-left: 3px solid var(--color-primary);
  position: relative;
  top: 0.2rem;
}
.resume-card>* {
  padding: 0.25rem;
}
.resume-card>.years {
  background-color: var(--color-light-variation);
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
.resume-card>ul>li {
  list-style: disc;
}

/*---------------------- Portfolio Section ----------------------*/

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  row-gap: 5.5%;
}

.portfolio-item {
  transition: var(--transition-primary);
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  transition: all 1s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.portfolio-item-image {
  padding-top: 75%;
  position: relative;
}

.portfolio-item-image img {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-position: top;
}

.portfolio-item-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.portfolio-item-hover::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 45px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transition: all 1s ease-in-out;
  z-index: 5000;
}

.portfolio-item-hover::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 45px;
  right: 45px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transition: all 1s ease-in-out;
  z-index: 5000;
}

.portfolio-item:hover::before {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-item:hover .portfolio-item-hover {
  opacity: 1;
  z-index: 3;
}

.portfolio-item:hover .portfolio-item-hover::before {
  top: 15px;
  left: 15px;
}

.portfolio-item:hover .portfolio-item-hover::after{
  bottom: 15px;
  right: 15px;
}

.portfolio-item-hover {
  color: var(--color-light);
}

.portfolio-item-hover>p {
  font-size: calc(0.6vw + 0.5rem);
  color: var(--color-light);
  margin: 0.3rem 0;
}

.portfolio-item-hover > div > a {
  font-size: calc(0.9vw + 0.5rem);
  color: var(--color-light);
  margin: 0 0.3rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.portfolio-item-description {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*---------------------- Services Section -----------------------*/

/*---------------------- Testimonials Section -------------------*/

.swiper-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
  padding: 2% 0;
}

.swiper-item-wrap {
  /* display: none; */
  padding-top: 100%;
  position: relative;
  transition: all 2s ease-in-out;
}

.swiper-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-item > p {
  height: 40%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px;
  position: relative;
  background-color: var(--color-bg-variant);
  font-size: calc(0.5vw + 0.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-item > p::after {
  content: "";
  position: absolute;
  border-top: 30px solid var(--color-bg-variant);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  bottom: -30px;
  left: calc(50% - 30px);
}

.swiper-item > img {
  margin-top: 40px;
  border-radius: 50%;
  width: 40%;
}

.radio-wrap {
  display: flex;
  justify-content: center;
  column-gap: 1%;
  padding: 2% 0;
}

.radio-button {
  height: 1rem;
  width: 1rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #fff;
  border: 0.1rem solid grey;
  cursor: pointer;
}

.radio-button:checked {
  box-shadow: 0 0 0 1px var(--color-primary);
  background-color: var(--color-primary);
  border: 0.2rem solid #fff;
}

.swiper-hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s ease-in-out;
}

.swiper-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*---------------------- Contact Section ------------------------*/

.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


/*---------------------- Footer Section -------------------------*/
footer {
  margin-left: 150px;
  display: flex;
}
/*---------------------- Media Queries --------------------------*/
/*=== Media Queries (Animations) ===*/
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/*=== Media Queries (Medium Devices) ===*/
@media screen and (max-width: 1024px) {
  main {
    margin-left: 0;
  }
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    #header {
      display: none;
    }

    .about-details {
      flex-direction: column;
    }
    .profile-pic{
      max-width: 100%;
      align-self: center;
    }
    .about-details>article {
      margin-left: 0;
    }
    .about-details>article>h3 {
      margin-top: 1rem;
    }
    .facts>aside>figure {
      max-width: 40%;
    }

    .swiper-wrap {
      grid-template-columns: 1fr;
    }
}
/*=== Media Queries (Small Devices) ===*/
@media screen and (max-width: 660px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about-details>article>aside {
      display: flex;
      flex-direction: column;
    }
    .about-details>article>aside>ul {
      width: 100%;
    }
    .resume {
      flex-direction: column;
    }
    .resume>* {
      max-width: 100%;
    }

    .swiper-wrap {
      grid-template-columns: 1fr;
    }
  }
